<html>
<body>
<form method="post" action="/filter">
    <select size = "10" multiple name="operType">
        <option disabled>Select operation type</option>
        {{#objecttype}}
            <option>{{sysname}}</option>
        {{/objecttype}}
    </select>
    <button type="submit">Find</button>
</form>
<div>Список перечислений</div>
<form method="post" action="/enum">
    <input type="text" name="enumSysName">
    <button type="submit">Найти</button>
</form>
{{#taxenum}}
    <div>
        {{id}}
        {{enumSysName}}
        {{sysName}}
        {{name}}
    </div>
{{/taxenum}}
</body>
</html>